@import "~/src/config";

.homeBottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  padding-bottom: 76px;

  .toorWith {
    margin: 300px 0;
    text-align: center;
    word-break: keep-all;
    width: 866px;
    -webkit-text-stroke: 2px $white;
    font-size: 90px;
    line-height: 120px;
    font-family: LeferiBase;
    font-weight: 900;

    @include mobile {
      margin: 10.625vw 0;
      width: 60vw;
      font-size: 6.5vw;
      line-height: 8vw;
      -webkit-text-stroke: 1px $white;
    }

    .toorWithWhite {
      color: $white;
      -webkit-text-stroke: 0;
    }
  }

  .goToMetaverse {
    position: relative;
    height: fit-content;

    &:hover {
      .goToMetaverseBtn {
        opacity: 1;
      }
      .goToMetaverseImage {
        opacity: 0.35;
      }
    }

    .goToMetaverseBtn {
      width: 415px;
      height: 55px;
      padding: 0 35px;
      border: 1px solid $white;
      border-radius: 55px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease;

      img {
        width: 20px;
        height: 20px;
      }

      @include mobile {
        width: 50%;
        font-size: 2.4vw;
        height: fit-content;
        padding: 2.4vw 4vw;

        img {
          width: 2.5vw;
          height: 2.5vw;
        }
      }
    }
    .goToMetaverseImage {
      width: 620px;
      height: 620px;
      background: url("../../../assets/home/homeBottom/x9477f6cfc.png")
        no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition: all 0.3s ease;
      cursor: pointer;

      @include mobile {
        width: 86vw;
        height: 86vw;
      }
    }
  }
}
