@import "~/src/config";
.companyContainer {
  background-color: $dark;
  overflow: hidden;
  .background {
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: $dark;

    .companyMain {
      color: $white;
      width: 60%;
      min-width: 768px;
      margin: 0 auto;

      @include mobile {
        width: 86%;
        min-width: 0;
      }
    }
  }
}
