@import "~/src/config";
.companyContainer {
  background-color: $dark;
  .background {
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: $dark;

    .companyMain {
      color: $white;
      width: 60%;
      margin: 0 auto;
    }
  }
}
