@font-face {
  font-family: "LeferiBaseBold";
  src: url("../../../assets/fonts/LeferiBaseBold.otf") format("otf");
}
@font-face {
  font-family: "LeferiBaseRegular";
  src: url("../../../assets/fonts/LeferiBaseRegular.otf") format("otf");
}

.textAnimation {
  display: inline-block;
  position: relative;
  color: transparent;
  font-size: 96px;
  font-weight: bold;

  &:before {
    content: "";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 0;
    height: 1.2em;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }
  &.state-1 {
    &:before {
      width: 1px;
    }
  }
  &.state-2 {
    &:before {
      width: 0.8em;
    }
  }
  &.state-3 {
    color: white;
    &:before {
      width: 0;
    }
  }
}
.space {
  display: inline-block;
  width: 30px;
}

.firstTextBox {
  margin-top: -30px;
}
.secondTextBox {
  margin-top: -20px;
  margin-left: 10%;
  font-family: "LeferiBaseBold";
}
