@import "~/src/config";

.OriginalProject {
  width: 100%;
  max-width: 1240px;
  h1 {
    font-size: 100px;
    font-family: NanumSquareEB;
    margin-bottom: 6vw;
    color: #070707;
    -webkit-text-stroke: 2px #fff;
    font-weight: bold;
  }
  .logoContainer {
    width: 100%;
    margin: 0 auto;
    .logoItem {
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .OriginalProject {
    width: 94%;
    margin: 20vw 0;
    h1 {
      font-size: 11vw;
      margin-bottom: 5vw;
      -webkit-text-stroke: 1px #fff;
    }
  }
}
