// color
$pointColor: #ff0080;
$lightGray: #707070;
$darkGray: #808080;
$borderGray: #b5b5b5;
$fontGray: #e4e4e4;
$white: #fff;
$dark: #070707;

$headerHeight: 227px;
$headerZIndex: 100;
$mobileMenuBlurZIndex: 101;
$mobileMenuZIndex: 102;

$mobile: 768px;

/* 반응형 화면 크기 */
@mixin desktop {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
