.article_detail_container {
  width: 100%;
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
  .article_list {
    border-top: 1px solid #808080;
    padding: 30px 0;
    .beforeList {
      font-size: 20px;
      img {
        width: 10px;
        margin: 0 20px 0 10px;
        transform: rotate(-90deg);
      }
    }
    .afterList {
      font-size: 20px;
      margin: 14px 0;
      img {
        width: 10px;
        margin: 0 20px 0 10px;
        transform: rotate(90deg);
      }
    }
    .nextArticle {
      color: #888888;
    }
    .toList {
      width: 160px;
      height: 50px;
      margin: 60px auto;
      cursor: pointer;
      border: 1px solid #808080;
      border-radius: 50px;
      line-height: 48px;
      text-align: center;
      font-size: 24px;
      color: #808080;
    }
  }
  .article_detail {
    margin-top: 50px;
    .detail_title_article {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #808080;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 2vh;
      h1 {
        width: 80%;
        word-break: keep-all;
        font-size: 2.2rem;
      }
      span {
        font-size: 1.3rem;
        color: #888888;
      }
      margin-bottom: 50px;
    }
    .detail_contents_article {
      width: 100%;
      img {
        display: block;
        max-width: 80%;
        min-width: 50%;
        margin: 0 auto;
      }
      .detail_contents_textzone {
        width: 90%;
        margin: 50px auto 80px auto;
        .article_contents {
          font-size: 1.2rem;
          line-height: 2rem;
          white-space: pre-wrap;
          word-break: keep-all;
        }
        .article_source {
          font-size: 1.1rem;
          margin-top: 40px;
          color: #808080;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .article_detail_container {
    width: 90%;
    margin-bottom: 6vw;
    .article_list {
      padding: 6vw 0;
      .beforeList {
        font-size: 2.6vw;
        img {
          width: 1.4vw;
          margin: 0 1.6vw;
          transform: rotate(-90deg);
        }
      }
      .afterList {
        font-size: 2.6vw;
        img {
          width: 1.4vw;
          margin: 0 1.6vw;
          transform: rotate(90deg);
        }
      }
      .toList {
        width: 24vw;
        height: 8vw;
        margin: 10vw auto;
        line-height: 7.5vw;
        text-align: center;
        font-size: 4vw;
      }
    }
    .article_detail {
      margin-top: 8vw;
      .detail_title_article {
        h1 {
          font-size: 3.8vw;
        }
        span {
          font-size: 2.6vw;
        }
        margin-bottom: 6vw;
      }
      .detail_contents_article {
        width: 100%;
        img {
          max-width: 90%;
          min-width: 50%;
        }
        .detail_contents_textzone {
          width: 90%;
          margin: 6vw auto;
          .article_contents {
            font-size: 2.4vw;
            line-height: 4vw;
            white-space: pre-wrap;
            word-break: keep-all;
          }
          .article_source {
            font-size: 2vw;
            margin-top: 4vw;
            color: #808080;
          }
        }
      }
    }
  }
}
