@import "~/src/config";

.companyExplain {
  padding-top: 272px;
  background-color: $dark;

  .block {
    display: flex;
    gap: 0 50px;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 10.4vw;
      .textBox {
        max-width: 518px;
        word-break: keep-all;
      }
    }
    &:nth-child(2) {
      margin-bottom: 2.29vw;
      .imgBox {
        display: flex;
        justify-content: flex-end;
        .textBox {
          max-width: 410px;
          word-break: keep-all;
        }
      }
    }

    .imgBox {
      width: 100%;
      position: relative;
      overflow: hidden;
      .imgWrapper {
        background-color: $dark;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        width: 100%;
      }
      img {
        width: 100%;
        max-width: 672px;
      }
    }

    .textBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .titleText {
        font-size: 3.25rem;
        line-height: 6.875rem;
        letter-spacing: -0.15rem;
        font-weight: bold;
      }
      .subText {
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 2rem;

        strong {
          font-weight: bold;
        }
      }
    }

    &.around {
      gap: 20px;
      justify-content: space-between;
      margin-bottom: 6.25px;

      .list {
        .number {
          font-family: LeferiBase;
          font-weight: bold;
          font-size: 3.125rem;
          line-height: 4.75rem;
          margin-bottom: 0.625rem;
        }
        .listTitle {
          font-weight: bold;
          font-size: 2.375rem;
          line-height: 3.25rem;
          margin-bottom: 0.75rem;
        }
        .listSub {
          font-size: 1.375rem;
          line-height: 2.25rem;
          letter-spacing: -0.01375rem;
          word-break: keep-all;
          white-space: pre-wrap;
        }
        &:nth-child(1) {
          max-width: 270px;
        }
        &:nth-child(2) {
          max-width: 361px;
        }
        &:nth-child(3) {
          max-width: 375px;
        }
      }
    }
  }

  @include mobile {
    padding-top: 15.9vw;

    .block {
      flex-direction: column;

      &:first-child {
        margin-bottom: 12vw;
        .textBox {
          max-width: none;
        }
      }
      &:nth-child(2) {
        margin-bottom: 8vw;
        flex-flow: column-reverse;
      }

      .textBox {
        .titleText {
          line-height: 100%;
          font-size: 7.8vw;
          margin-top: 5vw;
          margin-bottom: 3.3vw;
          letter-spacing: -2.4px;
        }
        .subText {
          font-size: 3.1vw;
          line-height: 150%;
          white-space: pre-wrap;
        }
      }
      &.around {
        .list {
          margin-bottom: 6vw;
          &:nth-child(1) {
            max-width: none;
          }
          .number {
            line-height: 100%;
            opacity: 0.5;
            font-size: 6.4vw;
          }
          .listTitle {
            font-size: 5vw;
            line-height: 100%;
          }
          .listSub {
            font-size: 2.8vw;
            line-height: 150%;
          }
        }
      }
    }
  }
}
