.articleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: 50px;
}
.article_title {
  width: 1400px;
  height: 160px;
  text-align: center;
  position: relative;
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .naviArticle {
    position: absolute;
    right: 10%;
    .naviHome {
      width: 22px;
      height: 20px;
      margin-bottom: 2px;
      cursor: pointer;
    }
    .naviArrow {
      width: 10px;
      height: 16px;
      margin: 0 10px;
    }
    span {
      color: #888888;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
.tapMenu {
  width: 1240px;
  height: 70px;
  position: relative;
  margin-bottom: 50px;
  .articleTap {
    font-size: 1.6rem;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 5%;
    bottom: 0;
    cursor: pointer;
  }
  .noticeTap {
    font-size: 1.6rem;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 20%;
    bottom: 0;
    cursor: pointer;
  }
  .active {
    color: #ff0080;
    font-weight: bold;
    border-bottom: 4px solid #ff0080;
    cursor: default;
  }
}
.article_container {
  width: 100%;
  height: object-fit;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  .grid_container {
    width: 1240px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 400px));
    column-gap: 20px;
    grid-auto-rows: minmax(550px, 550px);
  }
}
