.gridContainer {
  width: 100%;
  cursor: pointer;
  .dimmedImg {
    width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    .cardImg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 1s;
    }
    .noticeImg {
      width: 300px;
      object-fit: cover;
    }
  }
  a {
    color: black;
  }
  .gridTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
  }
  .gridDate {
    font-size: 20px;
    color: #888888;
  }
  .dimmedImg::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* 빈 값으로 넣어야 가상의 요소 생성; */
    content: "+";
    text-align: center;
    font-weight: 100;
    line-height: 300px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
  }
}

.gridContainer:hover {
  a {
    color: black;
  }
  .dimmedImg {
    .cardImg {
      transform: scale(1.2);
    }
  }
  .dimmedImg::after {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.75);
  }
}
