@import "~/src/config";

.originMain {
  background-color: $dark;
  color: $white;
  .originMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    .originMainContainer {
      width: 86%;
    }
  }
}
