@import "~/src/config";
.metarverseGIF {
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
  word-break: keep-all;

  .metaverseExplanation {
    margin-top: 186px;
    margin-bottom: 103px;
    font-weight: 300;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: -2px;
    white-space: pre-wrap;
    text-align: center;

    strong {
      font-weight: bold;
    }
  }

  .metarverseGIFLine {
    width: 100%;
    height: 644px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .imgWrapper {
      background-color: $dark;
      transform-origin: top center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
    }

    .metarverseGIFBlock {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

      .imgWrapper {
        background-color: $dark;
        transform-origin: top center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
      }

      .GIFSub {
        font-size: 22px;
        line-height: 40px;
        letter-spacing: -0.88px;
        margin-bottom: 17px;
      }
      .GIFTitle {
        font-size: 60px;
        line-height: 40px;
        letter-spacing: -2.4px;
        margin-bottom: 35px;
        font-weight: bold;
      }
      .GIFExplains {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.96px;
        width: 534px;
        word-break: keep-all;
      }
    }

    .GIFBlock1 {
      max-width: 644px;

      img {
        width: 100%;
        max-width: 600px;
      }
    }

    .GIFBlock2 {
      max-width: 661px;
    }

    .GIFBlock3 {
      max-width: 644px;
      padding-left: 70px;
    }

    .GIFBlock4 {
      max-width: 661px;

      img {
        width: 100%;
        border-radius: 30px;
      }
    }
  }

  @include mobile {
    margin-bottom: 0;
    .metaverseExplanation {
      margin-top: 16.3vw;
      margin-bottom: 12.5vw;
      font-size: 3.1vw;
      line-height: 200%;
      width: 50vw;
      letter-spacing: 0;
    }
    .metarverseGIFLine {
      height: fit-content;
      flex-direction: column;

      &:nth-child(3) {
        flex-direction: column-reverse;
      }
      .metarverseGIFBlock {
        text-align: center;

        .GIFSub {
          font-size: 2.3vw;
          line-height: 100%;
          margin-top: 7.8vw;
          margin-bottom: 0;
        }
        .GIFTitle {
          font-size: 6.5vw;
          line-height: 100%;
          letter-spacing: -2px;
          margin: 3vw 0;
        }
        .GIFExplains {
          width: fit-content;
          font-size: 3.1vw;
          line-height: 170%;
          margin: 0 auto;
          white-space: pre-wrap;
          margin-bottom: 13vw;
        }
      }

      .GIFBlock1,
      .GIFBlock4 {
        width: 46vw;
      }
      .GIFBlock3 {
        padding: 0;
      }
    }
  }
}
