@import "~/src/config";

.banner {
  width: 100%;
  min-width: fit-content;
  height: 580px;
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerContainer {
  width: 100%;
  height: 100%;
  max-width: 1444px;
  color: $white;
  position: relative;
  padding: 0 20px;

  .bannerRoowa {
    margin-top: 145px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: -1.2px;
    color: $white;
  }

  .bannerRoowaTitle {
    margin-top: 12px;
    font: normal normal bold 80px/110px Noto Sans KR;
    letter-spacing: -3.2px;
    white-space: pre-wrap;
    color: $white;
  }

  .naviBox {
    position: absolute;
    bottom: 26px;
    right: 20px;
    height: 26px;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
    .homeBtn {
      height: 19px;
    }

    .chev {
      height: 20px;
      margin: 0 8px;
    }

    .naviBtn {
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }

  @include mobile {
    width: 87%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .bannerRoowa {
      font-weight: normal;
      font-size: 3.9vw;
      margin: 0;
    }
    .bannerRoowaTitle {
      font-size: 8.6vw;
      letter-spacing: -1.32px;
      line-height: 120%;
      margin-bottom: 7.8vw;
    }
  }
}
