@import "~/src/config";

.footer {
  height: 424px;
  padding: 56px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: $dark;
  color: $white;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    height: 96px;
    width: 100%;
    align-items: center;

    li {
      margin-bottom: 14px;
      padding-right: 5px;
    }

    .footerLogoBox {
      display: flex;
      align-items: center;
      padding-top: 10px;

      .footerLogo {
        text-indent: -10000px;
        background-image: url(../../assets/x151af1d9.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 121px;
        min-height: 24px;
        margin-right: 57px;
      }
    }

    .footerInfoBox {
      width: 1170px;
      height: 100%;
      padding-top: 30px;
      padding-right: 40px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $lightGray;
    }

    .footerLinkBox {
      display: flex;
      color: $fontGray;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $lightGray;
      width: 384px;
      height: 100%;
      margin-left: 67px;
      padding: 0 5px;
      margin-bottom: 0;
    }
  }

  .snsBtns {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .snsBtn {
      margin-left: 25px;
      width: 37.1px;
      height: 37.1px;
    }
  }
}
