@import "~/src/config";

.footer {
  min-height: 424px;
  padding: 56px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: $dark;
  color: $white;
  position: relative;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    min-height: 96px;
    width: 100%;

    li {
      margin-bottom: 14px;
      padding-right: 5px;
    }

    .footerLogoBox {
      display: flex;
      align-items: center;
      padding-top: 38px;
      height: fit-content;

      .footerLogo {
        text-indent: -10000px;
        background-image: url(../../assets/x151af1d9.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @include desktop {
          min-width: 121px;
          min-height: 24px;
          margin-right: 57px;
        }
      }
    }
    @media (max-width: 1100px) {
      .footerInfoBox {
        flex-wrap: wrap;
      }
      .footerLinkBox {
        flex-wrap: wrap;
      }
    }

    .footerInfoBox {
      width: 1170px;
      height: 100%;
      padding-top: 30px;
      padding-right: 40px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $lightGray;
    }

    .footerLinkBox {
      display: flex;
      color: $fontGray;
      justify-content: space-between;
      border-top: 1px solid $lightGray;
      width: 384px;
      height: 100%;
      margin-left: 67px;
      padding: 0 5px;
      margin-bottom: 0;
      padding-top: 30px;
    }
  }

  .snsBtns {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .snsBtn {
      margin-left: 25px;
      width: 37.1px;
      height: 37.1px;
    }
  }

  .toTop {
    width: 70px;
    height: 68px;
    background-color: $white;
    box-shadow: 1px 3px 8px #00000029;
    position: absolute;
    right: 33px;
    top: -90px;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 20px;
      height: 42px;
    }
  }
}

@include mobile {
  .footer {
    height: fit-content;
    padding: 0;
    justify-content: flex-start;
    background-color: #212121;

    .footerContainer {
      width: 87vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footerLogoBox {
        padding: 0;
        margin-bottom: 27px;
        justify-content: space-between;

        .footerLogo {
          width: 25vw;
        }
        .mobileSnsBtns {
          width: 35vw;
        }
      }

      .footerInfoBox {
        width: 100%;
        padding-top: 0;
        padding-right: 0;

        .footerInfoBoxColumn {
          width: 100%;
          .footerInfo {
            font-size: 2.7vw;
            margin-bottom: 8px;
            padding-right: 0;
          }
          &:first-child {
            padding-top: 26px;
            padding-bottom: 18px;
          }
        }
      }

      .footerLinkBox {
        border: none;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 30px 0;
        font-size: 3vw;
        color: #cbcbcb;

        .footerLink {
          margin: 0;
          padding: 0;
        }
      }
    }

    .toTop {
      display: none;
    }
    .snsBtns {
      display: none;
    }
  }
}
