@import "~/src/config";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 227px;
  overflow: hidden;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $dark;
  color: $white;

  .headerLogo {
    margin-top: 56px;
    width: 177px;
    min-height: 34px;
    text-indent: -10000px;
    background-image: url(../../assets/x2022new.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .navWrapper {
    margin-top: 53px;
    margin-bottom: 0;
    font-size: 15px;
    width: 813px;
    display: flex;
    justify-content: space-between;

    .headerNavBtn {
      padding: 0 5px;
      cursor: pointer;
      color: $fontGray;
      padding-bottom: 6px;
      transition: border-bottom 0.05s ease;
      position: relative;

      &:hover {
        padding-bottom: 3px;
        border-bottom: 3px solid $white;
      }

      .aboutUl,
      .contactUl {
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding-top: 50px;
        width: 100px;

        li {
          margin-bottom: 10px;
          font-size: 16px;
          letter-spacing: -0.64px;
          transform-origin: center top;
          cursor: pointer;

          a {
            color: $darkGray;
            &:hover {
              font-weight: bold;
              color: $white;
            }
          }
        }
      }
    }
  }
}

#navBlurWrapper {
  z-index: 50;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}
