.headerContainer {
  width: 100%;
  height: 227px;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  .headerLogo {
    margin-top: 56px;
    width: 177px;
    height: 34px;
    text-indent: -10000px;
    background-image: url(../../assets/x2022new.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerNav {
    margin-top: 53px;
    font-size: 15px;
    width: 813px;
    display: flex;
    justify-content: space-between;

    .headerNavBtn {
      padding: 0 5px;
    }
  }
}
