@import "~/src/config";

#portfolioSwiper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 350px;

  .portfolioSwiperSlide {
    width: 608px;

    .portfolioSwiperSlideImg {
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .portfolioSlideTitle {
      font-weight: bold;
      font-size: 40px;
      letter-spacing: -1.6px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .portfolioSlideSub {
      font-size: 22px;
      letter-spacing: -0.88px;
      width: 100%;
      word-break: keep-all;
    }
  }
  .swiper-scrollbar {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 272px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    .swiper-scrollbar-drag {
      background-color: $white;
    }
  }

  @include mobile {
    padding-left: 4vw;
    position: relative;
    padding-bottom: 5.5vw;
    width: auto;

    .portfolioSwiperSlide {
      width: 46vw;
      height: fit-content;
      .portfolioSlideTitle {
        font-size: 4vw;
        margin-top: 2.9vw;
        margin-bottom: 1.5vw;
      }
      .portfolioSlideSub {
        width: 80%;
        font-size: 2.7vw;
        line-height: 3.9vw;
      }
    }

    .swiper-scrollbar {
      position: absolute;
      bottom: 0;
      width: 30vw;
    }
  }
}
