@import "~/src/config";

.recruitMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  min-width: fit-content;
}
.recruitContainer {
  margin-top: 119px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px 42px;

  @media (max-width: 1404px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 922px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.readMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 136px;
  width: 100%;

  .readMore {
    width: 183px;
    height: 55px;
    background-color: $white;
    color: $darkGray;
    border: 1px solid $darkGray;
    border-radius: 55px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }
}

@include mobile {
  .recruitMain {
    padding: 0 7vw;
    padding-bottom: 10vw;
    .title {
      font-size: 8vw;
      -webkit-text-stroke: 1px $white;
      text-transform: uppercase;
      font-family: NanumSquareEB;
      font-weight: bold;
      width: 100%;
      margin: 8.4vw 0;
    }
    .recruitContainer {
      margin: 0;
      width: 100%;
    }
    .readMoreContainer {
      margin-top: 15vw;
      .readMore {
        width: 25.7vw;
        height: 7.7vw;
        font-size: 3.1vw;
      }
    }
  }
}
