.originalPortfolio {
  width: 100%;
  margin-top: 150px;
  .portContainer {
    width: 1240px;
    max-width: 1240px;
    margin: 0 auto;
    .portfolioTitle {
      font-size: 110px;
      line-height: 100px;
      font-family: LeferiBase;
      margin-bottom: 70px;
      color: #070707;
      font-weight: bold;
      -webkit-text-stroke: 2px #fff;
    }
  }
}
