@import "~/src/config";

.metaverseProcess {
  width: 100%;
  max-width: 1240px;

  > .title {
    font-family: NanumSquareEB;
    text-transform: uppercase;
    color: $dark;
    -webkit-text-stroke: 2px $white;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 68px;
  }

  .iconArea {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 32px;

    .dashBox {
      position: absolute;
      width: 100%;
      top: 50%;
      border-top: 1px dashed $white;
      z-index: 0;
    }

    .iconCircles {
      width: 131px;
      height: 131px;
      border: 1px solid $white;
      border-radius: 50%;
      position: relative;
      background-color: $dark;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 55%;
      }
    }
  }

  .stepLine {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .stepBox {
      text-align: center;
      width: 100%;

      .step {
        font-size: 17px;
        font-family: NanumSquareEB;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .title {
        font-size: 34px;
        letter-spacing: -1.36px;
        word-break: keep-all;
        white-space: pre-wrap;
      }
    }
  }

  @include mobile {
    width: 86%;
    > .title {
      -webkit-text-stroke: 1px $white;
      font-size: 7.8vw;
      margin-bottom: 5.2vw;
    }
    .iconArea {
      margin-bottom: 2.2vw;
      .iconCircles {
        width: 10.9vw;
        height: 10.9vw;
      }
    }
    .stepLine {
      .stepBox {
        .step {
          font-size: 1vw;
          margin-bottom: 0.8vw;
        }
        .title {
          font-size: 2.6vw;
          letter-spacing: -0.8px;
          line-height: 140%;
        }
      }
    }
  }
}
