@import "~/src/config";

.metaverseProcess {
  width: 100%;
  max-width: 1240px;

  > .title {
    font-family: LeferiBase;
    text-transform: uppercase;
    color: $dark;
    -webkit-text-stroke: 2px $white;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 68px;
  }

  .iconArea {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 32px;

    .dashBox {
      position: absolute;
      width: 100%;
      top: 50%;
      border-top: 1px dashed $white;
      z-index: 0;
    }

    .iconCircles {
      width: 131px;
      height: 131px;
      border: 1px solid $white;
      border-radius: 50%;
      position: relative;
      background-color: $dark;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 55%;
      }
    }
  }

  .stepLine {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .stepBox {
      text-align: center;
      width: 100%;

      .step {
        font-size: 17px;
        font-family: LeferiBase;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .title {
        font-size: 34px;
        letter-spacing: -1.36px;
        word-break: keep-all;
        white-space: pre-wrap;
      }
    }
  }
}
