@import "~/src/config";

.payDetailMain {
  display: flex;
  justify-content: center;

  .payDetailContainer {
    width: 86%;
    max-width: 1404px;

    .payDetailTitleBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 81px;
      padding-bottom: 8px;
      .payDetailTitle {
        font-size: 48px;
        line-height: 70px;
        letter-spacing: -1.92px;
        color: $dark;
      }
      .payDetailPrice {
        color: $darkGray;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.88px;
      }
    }
    .payDetailContentsBox {
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
      padding: 94px 0;
      margin-bottom: 32px;
      .payDetailContent {
        display: flex;
        justify-content: center;
        img {
          width: 80%;
        }
      }
    }
    .contentsNav {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -0.88px;
      color: $dark;
      margin-bottom: 106px;

      .contentsNavNext {
        cursor: pointer;
      }
      .contentsNavPrev {
        margin-bottom: 22px;
        cursor: pointer;
        img {
          rotate: -90deg;
        }
      }
      img {
        rotate: 90deg;
        margin-left: 18px;
        margin-right: 32px;
        margin-bottom: 4px;
        width: 10px;
        height: 18px;
      }
      .contentNavTitle {
        color: $darkGray;
      }
    }
    .payDetailListBtnBox {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
      .payDetailListBtn {
        width: 183px;
        height: 55px;
        background-color: $white;
        border: 1px solid $darkGray;
        border-radius: 55px;
        color: $darkGray;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  @include mobile {
    .payDetailContainer {
      width: 86%;
      .payDetailTitleBox {
        padding-top: 10.4vw;
        padding-bottom: 2.1vw;

        .payDetailTitle {
          font-size: 4.2vw;
          line-height: 100%;
          letter-spacing: -0.64px;
          font-weight: bold;
        }
        .payDetailPrice {
          font-weight: 300;
          font-size: 3.1vw;
          line-height: 100%;
        }
      }

      .payDetailContentsBox {
        padding: 5.5vw 0;
        border-bottom: none;
      }

      .payDetailListBtnBox {
        margin-bottom: 10vw;
        .payDetailListBtn {
          width: 27.3vw;
          height: 8.4vw;
        }
      }
    }
  }
}
