@import "~/src/config";

.payDetailMain {
  display: flex;
  justify-content: center;

  .payDetailContainer {
    width: 1404px;

    .payDetailTitleBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 81px;
      padding-bottom: 8px;
      .payDetailTitle {
        font-size: 48px;
        line-height: 70px;
        letter-spacing: -1.92px;
        color: $dark;
      }
      .payDetailPrice {
        color: $darkGray;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.88px;
      }
    }
    .payDetailContentsBox {
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
      padding: 94px 0;
      margin-bottom: 32px;
      .payDetailContent {
        width: 100%;
        height: 1191px;
        background: $fontGray;
      }
    }
    .contentsNav {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -0.88px;
      color: $dark;
      margin-bottom: 106px;

      .contentsNavPrev {
        margin-bottom: 22px;
      }
      .contentsNavNext {
      }
    }
    .payDetailListBtnBox {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
      .payDetailListBtn {
        width: 183px;
        height: 55px;
        background-color: $white;
        border: 1px solid $darkGray;
        border-radius: 55px;
        color: $darkGray;
        font-size: 24px;
      }
    }
  }
}
