.payDetailMain {
  display: flex;
  justify-content: center;

  .payDetailContainer {
    width: 1404px;

    .payDetailTitleBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 81px;
      .payDetailTitle {
        font-size: 48px;
        line-height: 70px;
        letter-spacing: -1.92px;
        color: #070707;
      }
      .payDetailPrice {
        color: #808080;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.88px;
      }
    }
    .payDetailContentsBox {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding: 94px 0;
      margin-bottom: 32px;
      .payDetailContent {
        width: 100%;
        height: 1191px;
        background: #e4e4e4;
      }
    }
    .contentsNav {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -0.88px;
      color: #070707;
      margin-bottom: 106px;

      .contentsNavPrev {
        margin-bottom: 22px;
      }
      .contentsNavNext {
      }
    }
    .payDetailListBtnBox {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
      .payDetailListBtn {
        width: 183px;
        height: 55px;
        background-color: #fff;
        border: 1px solid #808080;
        border-radius: 55px;
        color: #808080;
        font-size: 24px;
      }
    }
  }
}
