@import "~/src/config";

.recruitCard {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 440px;
  background-color: $white;
  color: $dark;
  position: relative;
  padding: 40px 27px 30px 27px;
  cursor: pointer;

  .recruitDDay {
    position: absolute;
    top: 0;
    right: 25px;
    background-color: $pointColor;
    color: $white;
    width: 77px;
    height: 76px;
    font-size: 20px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.8px;
    font-weight: bold;
    font-family: NanumSquareEB;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 40px;
      line-height: 25px;
      word-break: keep-all;
    }
    &.end {
      background-color: $darkGray;
    }
  }

  .recruitTeam {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: -0.0825rem;
    margin-bottom: 4px;
  }

  .recruitTitle {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.876rem;
    letter-spacing: -0.18rem;
    width: 88%;
    position: absolute;
  }

  .recruitTask {
    white-space: pre-wrap;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.06rem;
    margin-bottom: 27px;
    margin-top: 165px;
    min-height: 48px;

    p {
      margin: 0;
    }
  }

  .recruitTagBox {
    margin-bottom: 31px;
    display: flex;
    .recruitTag {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 19px;
      height: 31px;
      border: 1px solid $lightGray;
      border-radius: 24px;
      font-size: 1.125rem;
      font-weight: bold;
      margin-right: 0.375rem;
    }
  }

  .recruitPeriod {
    padding-top: 15px;
    border-top: 1px solid $lightGray;
    font-size: 1.25rem;
    letter-spacing: -0.05rem;
    color: $darkGray;
  }

  @include mobile {
    width: 100%;
    padding: 5.2vw 3.5vw 3.9vw 3.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62vw;
    .recruitDDay {
      right: 4vw;
      width: 10vw;
      height: 10vw;
      font-size: 2.9vw;
      line-height: 110%;
    }
    .recruitTeam {
      letter-spacing: 0px;
      line-height: 100%;
      font-size: 3.1vw;
      margin-bottom: 4.2vw;
    }
    .recruitTitle {
      letter-spacing: -0.1vw;
      line-height: 120%;
      font-size: 7.5vw;
      margin-bottom: 4.5vw;
      width: 44vw;
    }
    .recruitTask {
      letter-spacing: -0.05vw;
      line-height: 160%;
      font-size: 2.8vw;
      margin-bottom: 1.2vw;
      min-height: fit-content;
      margin-top: 33vw;
    }
    .recruitTagBox {
      letter-spacing: 0px;
      line-height: 100%;
      font-size: 3.1vw;
      margin-bottom: 0.5vw;
      position: absolute;
      right: 3.5vw;
      top: 56%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 50%;
      gap: 1vw 0;

      .recruitTag {
        width: fit-content;
        height: fit-content;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 2.9vw;
          padding: 1.2vw 3.9vw;
        }
      }
    }
    .recruitPeriod {
      line-height: 100%;
      font-size: 2.9vw;
      margin-bottom: 1vw;
      padding-top: 2.3vw;
      font-weight: 300;
    }
  }
}
