@import "~/src/config";

.metaverseYouTube {
  margin-top: 170px;
  width: 100%;
  max-width: 1240px;

  .metaverseTitle {
    text-transform: uppercase;
    color: $dark;
    -webkit-text-stroke: 2px $white;
    font-family: KoPubWorldDotum;
    font-weight: bold;
    font-size: 100px;
    line-height: 110px;
    margin-bottom: 70px;
  }

  iframe {
    height: 648px;
    overflow: hidden;
    border-radius: 20px;
  }
}
