@import "~/src/config";

.metaverseYouTube {
  margin-top: 170px;
  width: 100%;
  max-width: 1240px;

  .metaverseTitle {
    text-transform: uppercase;
    color: $dark;
    -webkit-text-stroke: 2px $white;
    font-family: LeferiBase;
    font-weight: bold;
    font-size: 80px;
    line-height: 110px;
    margin-bottom: 70px;
  }

  iframe {
    height: 648px;
    overflow: hidden;
    border-radius: 20px;
  }

  @include mobile {
    margin-top: 16.2vw;

    .metaverseTitle {
      -webkit-text-stroke: 1px $white;
      font-size: 5.8vw;
      line-height: 120%;
      white-space: pre-wrap;
      margin-bottom: 4vw;
    }

    iframe {
      height: 48vw;
      border-radius: 18px;
    }
  }
}
