@import "~/src/config";

.mainPoster {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  padding-bottom: 100px;
  .posterContainer {
    width: 60%;
    max-width: 1110px;
    height: 1560px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainPosterMono {
    position: absolute;
    width: 90%;
    margin-top: 30px;
  }
  .posterScanner {
    position: absolute;
    width: 105%;
    height: 1px;
    overflow: hidden;
    border-bottom: 2px solid #39d140;
    box-shadow: 0 0 15px 0 #3cdd43;
    text-align: center;
  }
  .mainPosterColored {
    width: 90%;
  }
}

@media (max-width: 1600px) {
  .mainPoster {
    .posterContainer {
      height: 1400px;
    }
  }
}
@media (max-width: 1400px) {
  .mainPoster {
    .posterContainer {
      height: 1200px;
    }
  }
}
@media (max-width: 1200px) {
  .mainPoster {
    .posterContainer {
      height: 1000px;
    }
  }
}
@media (max-width: 1100px) {
  .mainPoster {
    padding-bottom: 50px;
    .posterContainer {
      height: 90vw;
    }
  }
}
// @media (max-width: 800px) {
//   .mainPoster {
//     padding-bottom: 50px;
//     .posterContainer {
//       width: 80%;
//       height: 900px;
//     }
//   }
// }
// @media (max-width: 600px) {
//   .mainPoster {
//     padding-bottom: 50px;
//     .posterContainer {
//       width: 90%;
//       height: 800px;
//     }
//   }
// }
@media (max-width: 768px) {
  .mainPoster {
    padding-bottom: 8vw;
    .posterContainer {
      width: 80%;
      height: 120vw;
    }
    .mainPosterMono {
      width: 80%;
    }
    .posterScanner {
      width: 120%;
    }
    .mainPosterColored {
      width: 80%;
    }
  }
}
