.metaverseQr {
  width: 100%;
  margin-top: 300px;
  .qrContainer {
    width: 60%;
    max-width: 1240px;
    height: 1100px;
    margin: 0 auto;
    .qrTitle {
      position: relative;
      height: 600px;
      img {
        position: absolute;
        width: 340px;
        height: 340px;
      }
      h1 {
        position: absolute;
        top: 230px;
        left: 16%;
        text-align: center;
        line-height: 90px;
        span {
          font-size: 100px;
          font-family: NanumSquareEB;
          color: #070707;
          font-weight: bold;
          -webkit-text-stroke: 1px #fff;
        }
        span.filled {
          color: white;
          -webkit-text-stroke: 0px;
        }
      }
    }
    .qrCode {
      position: relative;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 176px;
        height: 176px;
        display: block;
      }
      p {
        margin-top: 20px;
        font-size: 34px;
      }
    }
    .moreInfo {
      width: 36vw;
      height: 12vw;
      border-radius: 30px;
      border: 1px solid white;
      text-align: center;
      line-height: 11vw;
      font-size: 3.6vw;
      font-weight: 200;
      img {
        width: 2.5vw;
        height: 2.5vw;
      }
    }
  }
}

@media (max-width: 1700px) {
  .metaverseQr {
    .qrContainer {
      .qrTitle {
        h1 {
          span {
            font-size: 80px;
          }
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .metaverseQr {
    .qrContainer {
      .qrTitle {
        h1 {
          span {
            font-size: 60px;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .metaverseQr {
    margin-top: 200px;
    .qrContainer {
      width: 78%;
      .qrTitle {
        h1 {
          span {
            font-size: 60px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .metaverseQr {
    margin-top: 15vh;
    .qrContainer {
      width: 80%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 15vh;
      .qrTitle {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          position: relative;
          width: 68vw;
          height: 68vw;
        }
        h1 {
          line-height: 12vw;
          top: 0;
          left: 0;
          margin: 14vw 0;
          position: relative;
          span {
            font-size: 9vw;
          }
        }
      }
    }
  }
}
